@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    @apply box-border
    
}
body{
    font-family: 'Nunito', sans-serif;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.logo{
    font-family: 'Oleo Script';
}

.nav-link{
    @apply px-4 hover:text-pink-600 cursor-pointer
}

.btn{
    @apply md:px-4 px-5 md:py-2 py-2 font-semibold rounded-sm md:text-base text-sm
}

.btn-primary{
    @apply  bg-pink-600  text-white 
}

.msg{
    @apply text-white p-2 rounded-xl my-3 mx-1 whitespace-normal max-w-[90%] h-auto break-words
}

.msg-in{
    @apply bg-blue-600 text-left rounded-bl-none
}

.msg-out{
    @apply bg-pink-600 text-right rounded-br-none
}

