@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

#msgArea::-webkit-scrollbar {
  width: 8px;
}

#msgArea::-webkit-scrollbar-track {
  background: rgb(230, 230, 230);
  border-radius: 5px;
}

#msgArea::-webkit-scrollbar-thumb {
  background-color: rgb(177, 177, 177);
  border-radius: 10px;
  /* border: 3px solid rgb(92, 92, 92); */
}

body {
  font-family: "Nunito", sans-serif;
}



.logo {
  font-family: "Oleo Script";
}

.nav-link {
  @apply px-4 hover:text-pink-600 cursor-pointer;
}

.btn {
  @apply md:px-4 px-5 md:py-2 py-2 font-semibold rounded-sm md:text-base text-sm;
}

.btn-primary {
  @apply bg-pink-600  text-white;
}

.msg {
  @apply px-4 py-1 rounded-xl my-3 mx-1 whitespace-normal max-w-[90%] h-auto break-words;
}

.msg-in {
  @apply bg-pink-600 text-gray-50 text-left rounded-bl-none;
}

.msg-out {
  @apply bg-gray-200 text-gray-950 text-right rounded-br-none;
}
